<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6AlJnu87HVk3LtCtxBtk8hsyNJEJO_9I</string>
	<key>GCM_SENDER_ID</key>
	<string>177381243786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.genlatte</string>
	<key>PROJECT_ID</key>
	<string>gcdemos-26-int-dd-latteart</string>
	<key>STORAGE_BUCKET</key>
	<string>gcdemos-26-int-dd-latteart.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177381243786:ios:b46a45bfd7ecca11f6e673</string>
	<key>DATABASE_URL</key>
	<string>https://gcdemos-26-int-dd-latteart-default-rtdb.firebaseio.com</string>
</dict>
</plist>